<events>
  <event>
    <id>690229</id>
    <details>https://raw.githubusercontent.com/vgvassilev/hepcon-config/master/event_details/690229.xml</details>
    <url>https://indico.cern.ch/export/timetable/690229.xml</url>
    <name>TOP 2018</name>
    <location>Bad Neuenahr</location>
    <startDate>2018-09-16</startDate>
    <endDate>2018-09-21</endDate>
    <timeOffset>02:00</timeOffset>
    <lastModifiedDate>2018-08-25 16:10 +03:00</lastModifiedDate>
  </event>
  <event>
    <id>587955</id>
    <details>https://raw.githubusercontent.com/vgvassilev/hepcon-config/master/event_details/587955.xml</details>
    <url>https://indico.cern.ch/export/timetable/587955.xml</url>
    <name>CHEP 2018</name>
    <location>Sofia</location>
    <startDate>2018-07-09</startDate>
    <endDate>2018-07-13</endDate>
    <timeOffset>03:00</timeOffset>
    <lastModifiedDate>2018-07-13 09:30 +03:00</lastModifiedDate>
  </event>
  <event>
    <id>681549</id>
    <details>https://raw.githubusercontent.com/vgvassilev/hepcon-config/master/event_details/681549.xml</details>
    <url>https://indico.cern.ch/export/timetable/681549.xml</url>
    <name>LHCP 2018</name>
    <location>Bologna</location>
    <startDate>2018-06-04</startDate>
    <endDate>2018-06-09</endDate>
    <timeOffset>02:00</timeOffset>
    <lastModifiedDate>2018-08-25 13:55 +03:00</lastModifiedDate>
  </event>
</events>
